<%- model_class = Unidad -%>
<div class="page-header">
  <h1>Materias</h1>

  <%= form_tag request.path, :method => 'get' do %>
    Datos a Buscar:
    <div class="input-append">
      <%= search_field_tag :search, params[:search], :placeholder => "nombre, Documento, email" %>
      <%= submit_tag "Consultar", :class => "btn btn-inverse ", :name => nil %>
    </div>
    <p>numero de registros
   <p><%= text_field_tag :registro, params[:registro], options={:class=>"span1"} %></p>
    <% end %>
  
</div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Programa</th>
      <th><%=t '.acciones', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @unidades %>
  </tbody>
</table>

<tfoot>
  <td>
   <%= link_to "Nueva Materia", new_unidad_path, :remote =>true, :class =>'btn btn-success' %>
 </td>
</tfoot>

<div class="pagination pagination-centered">
    <ul>
    <%= will_paginate @unidades, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
    &raquo;' %>
  </ul>
  <br>
    <td>Total unidades: <%= @unidades.total_entries %> </td>
  </div>