<%= simple_form_for([@unidad, @tema], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

	<%= f.error_notification %>

  	<%= f.input :nombre, :label => "Nombre" %>
  	<%= f.label :descripcion %>
  	<%= f.text_area(:descripcion, :rows => 5) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                unidad_temas_path, :class => 'btn' %>
  </div>
<% end %>
