<tr id=<%= "tema_#{tema.id}" %>>

  <td><%= tema.nombre %></td>
  <td><%= tema.unidad.programa.nombre %></td>
  <td><%= tema.unidad.nombre %></td>
  <td><%= tema.descripcion %></td>
  <td>
    <%= link_to 'Mostrar', unidad_tema_path(@unidad, tema), :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_unidad_tema_path(@unidad, tema), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', unidad_tema_path(@unidad, tema), :data => { :confirm => 'Esta Seguro?' },:method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    </td>
    <td><%= link_to "Actividades", tema_actividades_path(tema),  :class=>"btn btn-inverse" %>
    </td>
</tr>
