<%= simple_form_for(@programa, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

	<%= f.error_notification %>

  <%= f.input :nombre, :label => "Nombre" %>
  <%= f.input :ficha, :label => "Ficha" %>
  
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                programas_path, :class => 'btn' %>
  </div>
<% end %>
