<tr id=<%= "programa_#{programa.id}" %>>

  <th><%= programa.nombre %></th>
  
  <td>
    <div class="btn-group" >
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i><%= image_tag("config.png")%></i></a>
       <ul class="dropdown-menu">
                    <li id='b'><%= link_to programa, :remote => true  do %>
                      <i><%=image_tag("ver.png")%></i>
                      <% end %>
                    </li>
                    <li id="b">
                      <%= link_to edit_programa_path(programa), :remote => true do %>
                      <i><%=image_tag("edit.png")%></i>
                      <% end %>
                    </li>
                    <li id="b">
                      <%= link_to programa, :data => { :confirm => 'Esta Seguro?' }, :method => :delete, :remote => true do %>
                      <i><%=image_tag("del.png")%></i>
                      <% end %>
                    </li>
                  </ul>
    </div> 
      <td><%= link_to "Fichas", programa_grupos_path(programa),  :class=>"btn btn-inverse" %>
      </td>
</tr>