<html>
	<head>
		<title>SED</title>
    <%= stylesheet_link_tag "bootstrap" %>
	</head>
<div class="hero-unit" >
  <center>
    <h1> Bienvenidos al Sistema Digital de Aprendizage SED </h1>
    <br>
      <p><b>
      El fin del aplicativo SED consta en proporcionar al publico discapacitado o de poco tiempo de disponible, de movilizarse al centro educativo. Este esta diseñado para facilitar la obtención de conocimiento en determinado tema o programa de formación para el publico antes mencionado. dejando en manos del propio estudiante la velocidad y eficacia del aprendizaje.   
      </b>
      </p>
   </center>
  </div>

</html>

<div class="responsive">
  <div id="myModal1" class="modal fade" >    
    <center>
      <div>
        <%= render 'layouts/messages' %>
      </div>
      <div class="login1" class="row" >
      <%= form_tag sessions_path, :class => 'form-horizontal ' do |f| %>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i><%= image_tag('closed.png')%></i></button><br><br>

        <div class="field control-group" >
          <label class="control-label" for="inputEmail"><b>Usuario:</b></label>

          <div class ="controls">
            <%= text_field_tag :username, params[:username] %>
            <span class="add-on"><i><%= image_tag('login.png') %></i></span>
          </div>
        </div>

        <div class="field control-group">
          <label class="control-label" for="inputEmail"><b>Clave:</b></label>

          <div class ="controls">
            <%= password_field_tag :password %>
            <span class="add-on"><i><%= image_tag('lock.png') %></i></span>
          </div>
        </div>
        
        <div class="control-group " >
        <%= submit_tag "Ingresar", :class => 'btn btn-info'  %>
        </div>
      <% end %>
      </div>
    </center>
  </div> 
</div>


