<%= javascript_include_tag "fecha.js" %>
<%= javascript_include_tag "proselect.js" %>
<%= simple_form_for(@estudiante, :html => {:multipart => true, :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>  

  <div class="responsive">
    <div class="modal-body">  
      <div class="control-group">
        <div class="row span9" id ="colors">
          <div class= "span4">
            <center><h4>Registro</h4></center><hr>
                <%= f.input :nombre, :label =>'Nombre:' %>
                <%= f.input :apellido, :label =>'Apellido:' %>
              <div class="control-group">
                <%= f.label :tpodocumento, :label=>'Tipo de Documento: *' %>
                <div class="controls">
                  <%= f.collection_select :tpodocumento_id, Tpodocumento.all, :id, :nombre %>
                </div><br>
              </div>
              <%= f.input :documento, :label =>'# Documento:' %>
              <%= f.input :email, :label =>'Email:' %>
              <%= f.input :tel, :label =>'Telefono-Csa:'%>
              <%= f.input :cel, :label =>'Tel-Celular:'%>
            </div>
            <center><h4>Otros Datos</h4></center> 
              <hr>
            <div class="row span1">
              <div class= "span2 ">
                <%= f.label :fecha %>
                <%= f.input :fechana, :as => :string, :label => false, :input_html => { :class => 'datepicker' } %>
                <div class ="control-group">
                  <%= f.label :programa_id %> 
                  <div class="controls" >
                    <%= select_tag "programa_id", options_from_collection_for_select(@programas, "id", "nombre"), :prompt => "select a program" %>
                  </div>
                </div>
                  <div class="controls" id="gruposDiv" >
                    <div id="gruposDiv">
                      <%= render :partial => 'grupos', :object => @grupos%>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center>
      <div class= "span10">
        <div class="form-actions">
          <%= f.button :submit, :class => 'btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            estudiantes_path, :class => 'btn' %>
        </div>
      </div>
      </center>
    </div>            
<% end %>
  