<%= stylesheet_link_tag "application" %>
<%= simple_form_for(@estudiante, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>  

  <div class="responsive">
    <div class="modal-body">  
      <div class="control-group">
        <div class="row" id ="colors">
          <div class= "span6">
            <center><h4>Registro</h4></center><hr>
            <%= f.input :nombre, :label =>'Nombre:' %>
            <%= f.input :apellido, :label =>'Apellido:' %>
            <div class="control-group">
              <%= f.label :tpodocumento, :label=>'Tipo de Documento: *' %>
              <div class="controls">
                <%= f.collection_select :tpodocumento_id, Tpodocumento.all, :id, :nombre %>
              </div><br><br>
            </div>
            <%= f.input :documento, :label =>'# Documento:' %>
            <%= f.input :email, :label =>'Email:' %>
            <%= f.input :tel, :label =>'Telefono-Csa:'%>
            <%= f.input :cel, :label =>'Tel-Celular:'%>
            </div>
            <center><h4>Otros Datos</h4></center> 
              <hr>
            <div class ="span6">
            <div class="row">
             <%= f.input :fechana,:label =>'Fcha-Nanto:', as: :date, start_year: Date.today.year - 50, end_year: Date.today.year - 0, accept_day: true, order: [:day, :month, :year] %>
            <div class="control-group">
              <%= f.label :f, :label=> 'programa: ' %>
              <div class="controls">
                <%= f.collection_select :programa_id, Programa.all, :id, :nombre %><br><br>
              </div>
            </div>

              <div class="control-group">
                <%= f.label :f, :label=> 'Ficha: ' %>
                <div class="controls">
                 <%= f.collection_select :grupo_id, Grupo.all, :id, :ficha %><br><br>
                </div>
              </div>

        </div>
      </div>

      <div class= "span12">
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                estudiantes_path, :class => 'btn' %>
      </div>
      </div>
    </div>            
  </div>
</div>
<% end %>
  