<%= simple_form_for([@tema, @actividad], :html => { :class => 'form-horizontal'}, :remote => true) do |f| %>

  <%= f.error_notification %>

    <%= f.input :nombre, :label => 'Nombre' %>
    <%= f.label :descripcion %>
    <%= f.text_area(:descripcion, :rows => 5) %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tema_actividades_path, :class => 'btn' %>
  </div>
<% end %>
