<ul class="nav nav-tabs">
	<li>
	<%= link_to('Programas', programas_path) %>
	</li>
	<li>
		<%= link_to('Materias', unidades_path) %>
	</li>
	<li>
	<%= link_to('Evaluaciones', evaluaciones_path) %>
	</li>
	<li>
	<%= link_to('Tipo Documento', tpodocumentos_path) %>
	</li>
	<li>
	<%= link_to('Estudiantes', estudiantes_path) %>
	</li>
</ul>
