<ul class="nav nav-tabs">
	<li>
	<%= link_to('Programas', programas_path) %>
	</li>
	<li>
		<%= link_to('Unidades', unidades_path) %>
	</li>
	<li>
		<%= link_to('Temas', temas_path) %>
	</li>
	<li>
	<%= link_to('Actividaes', actividades_path) %>
	</li>
	<li>
	<%= link_to('Evaluaciones', evaluaciones_path) %>
	</li>
</ul>
